spring:
  profiles:
    active: prod # 激活开发环境配置
 
# --- 保存区分多个配置项
---
server:
  port: 19000 # 端口号
spring:
  profiles: dev # 开发环境
  applications:
    name: applicationbus-dev
  
--- 
server:
  port: 19003 # 端口号
spring:
  profiles: prod # 生产环境
  applications:
    name: applicationbus-prod
    
getSay: hello,springcloud-bus

eureka:
  client:
    registerWithEureka: true  # 服务注册开关
    fetchRegistry: true       # 服务发现开关
    serviceUrl:               # Eureka配置了集群版，需要配置二个Eureka集群分别的地址
      defaultZone: http://eureka1.com:18080/eureka/,http://eureka2.com:18081/eureka/
    
#保存注意UTF-8保存
  
